/* цвет основного текста */
/* вторичный цвет текста */
/* белый */
/* акцент # */
/* вторичный цвет фона ; */

/*Кольори*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --first-bg-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --primary-icon-color: #afb1b8;
  --secondary-icon-color: rgba(255, 255, 255, 0.1);
  --before-element-is: rgba(33, 150, 243, 1);
  --label-bg: rgba(47, 48, 58, 0.8);
  --overlay: rgba(0, 0, 0, 0.2);
  --cards-overlay: rgba(33, 150, 243, 0.9);
}

/*Шрифти для текстів та кольори*/
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Утиліта*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

/*Костиль але хз як правильно забрати*/
body li {
  list-style-type: none;
}

/*Обнуляю всі відступи стандартні*/
ul {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Logo*/
.logo {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 700;

  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/*Header*/
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Роблю лінію під текстом*/
.site-nav .item {
  position: relative;
}

.site-nav .link::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;

  width: 100%;
  border: 2px solid var(--before-element-is);
  border-radius: 2px;

  opacity: 0;
}

.site-nav .link:hover::after,
.site-nav .link:focus::after {
  opacity: 1;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after,
.site-nav .link.current::after {
  opacity: 1;
}

.auth-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  display: flex;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header .container {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .logo {
  margin-right: 93px;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.auth-nav {
  display: flex;

  align-items: center;

  margin-left: auto;
}

.auth-nav .item {
  margin-right: 30px;
}

.auth-nav .item:last-child {
  margin-right: 0px;
}

/*Hero*/
.hero {
  text-align: center;
}

.hero-title {
  /*Поміняти колір на білий коли буде фон*/
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url("../images/hero/Img.jpg");
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*Оформлюю кнопку головну*/
.button {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.button.primary {
  background-color: var(--accent-color);
  padding: 10px 32px;
}

.button.primary:hover {
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Оформлення button type=button*/
button {
  border: 0px;
  border-radius: 4px;
}

/*Оформляю кнопку другорядну*/
.button.secondary {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Title*/
.title {
  color: var(--title-text-color);

  font-weight: 700;
}

/*Description*/
.description .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description.section {
  padding-bottom: 0px;
}

.description-list > li {
  text-decoration: none;
}

.description-list {
  display: flex;
}

.description-list .title {
  margin-bottom: 10px;
}

.description-list .item {
  margin-right: 30px;

  max-width: 270px;
}

.description-list .item:last-child {
  margin-right: 0px;
}

/*What We Do*/
.whatwedo .title,
.team .team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.whatwedo .title {
  margin-bottom: 50px;
}

.whatwedo-list {
  display: flex;
}

.whatwedo-list .item {
  margin-right: 30px;
}

.whatwedo-list .item:last-child {
  margin-right: 0px;
}

/*Label*/
.whatwedo-list .label-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.whatwedo-list .item {
  position: relative;
}

.whatwedo-list .label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;

  position: absolute;
  bottom: 0;
  background-color: var(--label-bg);
}

/*Team*/
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list .item {
  margin-right: 30px;

  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:last-child {
  margin-right: 0px;
}

.team-list .title {
  text-align: center;

  margin-bottom: 10px;
}

.team-list .text {
  text-align: center;
}

.team-item-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list

/*Footer*/
/*От тут напевно неправильно Можливо це мало бути зверху загально для всіх але поки так*/
.footer .link,
.footer .link {
  color: var(--footer-address-color);
}

/*Можливо так треба можливо ні поки лишу так як є*/

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address,
.footer .logo {
  color: var(--primary-white-color);
}

.footer {
  background-color: var(--first-bg-color);
}

.foot {
  max-width: 231px;
  font-weight: 400;
  font-style: normal;

  margin-top: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Портфолио Portfolio Style*/

/*Лінія*/
header {
  border-bottom: 1px solid #ececec;
}

/*Вирубую заголовок*/
.primary-title {
  display: none;
}

.foot .link.adres {
  display: inherit;

  margin-top: 9px;
  margin-bottom: 9px;
}

/*Title*/
.cards .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards p {
  font-size: 16px;
  line-height: 1.87;
}

.categories-button .categories {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.cards {
  margin-top: -30px;
}

.categories .item {
  margin-right: 8px;
}

.categories .item:last-child {
  margin-right: 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards .item {
  margin-right: 30px;
  margin-top: 30px;
}

.cards .item:nth-child(3n + 3) {
  margin-right: 0px;
}

.cards .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards .cards-wraper {
  padding: 20px 24px 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.cards-wraper .title {
  margin-bottom: 4px;
}

/*Позбуваюсь зазора зверху*/
.cards img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Оформлення іконок SVG*/
.auth-nav .icon {
  fill: var(--primary-text-color);
}
.auth-nav .icon-email {
  width: 16px;
  height: 12px;

  margin-right: 10px;
}

.auth-nav .icon-phone {
  width: 10px;
  height: 16px;

  margin-right: 10px;
}

.auth-nav .link:hover .icon,
.auth-nav .link:focus .icon {
  fill: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Description Label*/
.des-label {
  width: 270px;
  height: 120px;

  background-color: var(--secondary-bg-color);

  margin-bottom: 30px;
}

.des-label .icon {
  width: 70px;
  height: 70px;
  position: relative;

  top: 25px;
  left: 100px;
}

.team-list .text {
  margin-bottom: 16px;
}

/*Social Icon*/
.social {
  display: flex;

  padding-right: 32px;
  padding-left: 32px;
}

.social a {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  margin-right: 10px;
}

.social a:last-child {
  margin-right: 0px;
}

.social .icon {
  width: 20px;
  height: 20px;

  fill: var(--primary-icon-color);
}

.social a:hover,
.social a:focus {
  background-color: var(--accent-color);

  border-radius: 50%;

  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social a:hover .icon,
.social a:focus .icon {
  fill: var(--primary-white-color);
}

/*Clients*/
.clients .title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.clients {
  padding-top: 91px;
  padding-bottom: 94px;
}

.clients-logo {
  display: flex;
}

.clients-logo .logo {
  width: 106px;
  height: 60px;
}

.logo {
  fill: var(--primary-icon-color);
}

.clients-logo .link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-logo .link:hover .logo,
.clients-logo .link:focus .logo {
  fill: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo .link:hover,
.clients-logo .link:focus {
  border-color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo a {
  margin-right: 30px;
}

.clients-logo a:last-child {
  margin-right: 0px;
}

/*Join*/
.join .title {
  color: var(--primary-white-color);

  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.join .icon {
  width: 20px;
  height: 20px;

  fill: var(--primary-white-color);
}

.join a {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--secondary-icon-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.join a:hover,
.join a:focus {
  background-color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join a {
  margin-right: 10px;
}

.join a:last-child {
  margin-right: 0px;
}

/*Якось рівняю всю цю діч у футері*/
.footer .container {
  display: flex;

  align-items: baseline;
}

.footer .logo-address {
  margin-right: 70px;
}

/*Рівняю телефоні текст*/
.auth-nav .link {
  display: flex;
  align-items: center;
}

/*Модальне Вікно*/
.hero .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: var(--overlay);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/*Кнопка закриття модалки*/
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal .icon.close {
  position: relative;
  top: 9px;
  left: 9px;
  transform: translate(-8px, -7px);

  width: 11px;
  height: 11px;

  cursor: pointer;
}

/*Портфоліо Card-label*/
.card-label .text {
  width: 370px;

  color: var(--primary-white-color);

  font-size: 18px;
  line-height: 28px;

  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
}

.card-link {
  position: relative;
}

.card-label {
  height: 294px;

  overflow: hidden;
}

.card-label .text {
  background-color: var(--cards-overlay);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards .item:hover .card-label .text {
  transform: translateY(-294px);
}

/*Даю колір який мені треба*/
.cards-wraper p {
  color: var(--primary-text-color);
}

/*Футер форма підписки*/
.submit .icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.submit .button.primary {
  display: flex;
  align-items: center;
}

.submit .signup {
  display: flex;
}

.signup input {
  margin-right: 12px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--first-bg-color);

  color: #fff;

  padding-left: 16px;
}

.submit .title {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .join {
  margin-right: 93px;
}

/*Modal*/
.modal .title {
  padding-top: 40px;

  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.modal-list .item {
  margin-bottom: 10px;
}

.modal-list .item:last-child {
  margin-bottom: 20px;
}

.modal .button.primary {
  margin-top: 30px;
}

.modal-list .item {
  position: relative;
}

.modal-list input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  width: 448px;
  height: 40px;

  padding-left: 42px;
}

.modal-form {
  width: 448px;
  margin-right: auto;
  margin-left: auto;
}

.modal .icon {
  width: 18px;
  height: 18px;

  position: absolute;
  top: 35px;
  left: 12px;
}

.modal .coment {
  padding-left: 16px;
}

.modal .modal-close:focus .icon,
.modal .modal-close:hover .icon {
  fill: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal input:focus + .icon {
  fill: var(--accent-color);
}

.modal .checkbox-link {
  color: var(--accent-color);
}

.modal .coment {
  height: 120px;

  padding-bottom: 80px;
}

.modal .item {
  text-align: left;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*  border: 2px solid var(--title-text-color);
  height: 15px;
  width: 16px;*/

.modal .icon-checkbox {
  width: 16px;
  height: 15px;

  position: absolute;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-left: -24px;
}

.modal .label-check {
  padding-left: 24px;
  margin-left: 12px;

  display: flex;
  align-items: center;
}

.modal .checkbox:checked + .icon-checkbox {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);

  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-origin: border-box;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal input:hover {
  cursor: pointer;
}

.modal .label-check:hover {
  cursor: pointer;
}

.modal .button.primary {
  width: 200px;
}

.modal-form {
  padding-bottom: 40px;
}
