/*Team*/
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team {
  background-color: $secondary-bg-color;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list .item {
  margin-right: 30px;

  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:last-child {
  margin-right: 0px;
}

.team-list .title {
  text-align: center;

  margin-bottom: 10px;
}

.team-list .text {
  text-align: center;
}

.team-item-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .text {
  margin-bottom: 16px;
}
